@font-face {
  font-family: "Ubuntu";
  src: url(./Ubuntu-R.ttf);
}

@font-face {
  font-family: "Jetbrains Mono";
  src: url(./JetBrainsMono-Regular.woff2);
}

html {
  font-family: "Ubuntu";
  color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jetbrains Mono";
  font-size: 1.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-family: "Ubuntu";
}

nav {
  font-family: "Jetbrains Mono";
}
