@font-face {
  font-family: "UbuntuMono Regular";
  src: url(./UbuntuMono-Regular.ttf);
}

@font-face {
  font-family: "UbuntuMono Bold";
  src: url(./UbuntuMono-Bold.ttf);
}

html {
  font-family: "UbuntuMono Regular";
  color: #faf8f8;
}

body {
  background: linear-gradient(90deg, #603693, #ba3d1e);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "UbuntuMono Bold";
}

h1 {
  font-size: 1.3rem;
}
