@font-face {
  font-family: "Archivo";
  src: url(./Archivo.ttf);
}

@font-face {
  font-family: "IBM";
  src: url(./IBMPlexMono-Regular.ttf);
}

html {
  font-family: "Archivo";
  color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM";
  font-size: 1.2rem;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0.7rem;
}

h3 {
  font-family: "Archivo";
}

nav {
  font-family: "IBM";
}
