---
import Motion from "../Motion/Motion";
---

<section class="buildwith">
  <article class="buildwith__tech">
    <p>Astro</p>
    <p>React</p>
    <p>Vercel</p>
    <p>Github</p>
  </article>
  <Motion client:load>
    <article class="contributions">
      <p>
        Icons by <a
          href="https://www.freepik.com/icon/github_733553#fromView=search&term=github&page=1&position=3"
          >Pixel perfect</a
        > and
        <a
          href="https://www.freepik.com/icon/email_3686989#fromView=search&term=mail&page=1&position=45"
          >Uniconlabs</a
        >
      </p>
    </article>
  </Motion>
</section>

<style>
  .buildwith {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
  .contributions {
    font-size: 1rem;
    font-weight: 400;
  }
  .buildwith__tech {
    display: flex;
    gap: 1rem;
  }
</style>
