---
import Motion from "../Motion/Motion";
const currentYear = new Date().getFullYear();
---

<section class="buildwith">
  <ul class="buildwith__tech">
    <li>Astro</li>
    <li>React</li>
    <li>Vercel</li>
    <li>Github</li>
    <li>Framer Motion</li>
  </ul>
  <Motion client:load>
    <article class="contributions">
      <p>
        Icons by <a
          href="https://www.freepik.com/icon/github_733553#fromView=search&term=github&page=1&position=3"
          >Pixel perfect</a
        > and
        <a
          href="https://www.freepik.com/icon/email_3686989#fromView=search&term=mail&page=1&position=45"
          >Uniconlabs</a
        >
      </p>
    </article>
  </Motion>
  <Motion client:load>
    <article>
      <p>A lot of ❤️ by © willywdev {currentYear}</p>
    </article>
  </Motion>
</section>

<style>
  .buildwith {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
  .contributions {
    font-size: 1rem;
    font-weight: 400;
  }
  .buildwith__tech {
    display: flex;
    gap: 1rem;
  }
</style>
