.header {
  color: white;
  font-size: 1.2rem;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  color: white;
  font-size: 1.2rem;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main__code-background {
  position: absolute;
  width: 220px;
  height: auto;
  z-index: -1;
  opacity: 0.1;
  top: -32px;
}
.main__headline {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
.main__job-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}
.main__headlines-small {
  font-size: 1.7rem;
  align-self: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
