---
import Image from "astro/components/Image.astro";
import Motion from "../Motion/Motion";
import Mail from "./icons/email.png";
import Github from "./icons/github.png";
import LinkedIn from "./icons/linkedin.png";
---

<Motion client:load>
  <section class="contact">
    <a
      class="contact__links"
      href="https://www.linkedin.com/in/wilhelm-w-00a682280/"
      target="_blank"
      ><Image src={LinkedIn} alt="Github" class="contact__icons" /> LinkedIn</a
    >
    <a
      class="contact__links"
      href="https://github.com/willywdev/"
      target="_blank"
      ><Image src={Github} alt="Github" class="contact__icons" /> Github</a
    >
    <a class="contact__links" href="mailto:kontakt@willydev.de" target="_blank"
      ><Image src={Mail} alt="Github" class="contact__icons" /> E-Mail</a
    >
    <!--   <section class="contact__here">
      <Form />
    </section> -->
  </section>
</Motion>

<style>
  .contact {
    padding: 0 1rem;
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
  }
  .contact__links {
    all: unset;
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 1rem;
  }
  .contact__links:hover {
    color: rgb(var(--accent));
  }
  .contact__links:active {
    color: rgb(var(--accent));
  }
  .contact__icons {
    width: 26px;
    height: 26px;
  }
  .contact__here {
    width: 100%;
    display: flex;
    justify-content: center;
  }
</style>
