@import "sanitize.css", "sanitize.css/system-ui.css", "./variables.scss",
  "./background.scss";

html {
  background: $dark-color;
}

body {
  font-family: $font-family;
  font-size: 18px;
  line-height: 1.6;
  color: $light-color;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: $accent-color;
  text-decoration: none;
  &:hover {
    color: $accent-color-2;
  }
  &:focus {
    outline: 1px dotted $accent-color;
  }
  &:active {
    color: $accent-color-2;
  }
}
