@font-face {
  font-family: "IBM Plex Mono";
  src: url("/public/fonts/IBMPlexMono-Regular.ttf") format("truetype");
}

$accent-color: #00b0dc;
$accent-color-2: #3992d0;
$light-color: #f7f7f7;
$dark-color: #1e1c1c;
$teal: #00cbcf;
$green: #32e1af;
$font-family: "IBM Plex Mono", monospace;
