.header {
  margin-left: 6%;
  margin-top: 24%;
  flex-direction: column;
  display: flex;
}

.header__main-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__contact-links {
  margin-top: 0.3rem;
  display: flex;
  gap: 5px;
  list-style-type: none;
  font-size: 1.5rem;
  align-items: center;
}

.header__logo {
  width: 128px;
  border-radius: 50%;
  outline: 2px var(--text-color) solid;
}

.skill-icons {
  width: 32px;
}
