---

---

<script>
  const nav = document.querySelector("nav");
  const navLinks = nav.querySelectorAll("a");
  const currentURL = window.location.href;
  navLinks.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add("active");
    }
  });
</script>

<nav>
  <ul class="pager">
    <a href="/">
      <li>Home</li>
    </a>
    <span class="bar">|</span>
    <a href="/blog">
      <li>Blog</li>
    </a>
    <span class="bar">|</span>
    <a href="/more">
      <li>More</li>
    </a>
  </ul>
</nav>

<style>
  nav {
    position: sticky;
    margin: 0 auto;
    bottom: 0.6rem;
    background-color: #5b6467;
    background-image: linear-gradient(360deg, #2a2d2d 0%, #595d5f 74%);
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    box-shadow:
      rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-size: 1.1rem;
  }
  .bar {
    opacity: 0.4;
  }
  a {
    position: relative;
  }
  a:hover {
    color: rgb(var(--accent-light));
    transform: scale(1.1);
  }
  .active {
    color: rgb(var(--accent-light));
    width: min-content;
  }
  .active::after {
    content: ".";
    position: absolute;
    font-size: 2rem;
    left: 42%;
    bottom: -62%;
  }
</style>
