---
import Nav from "./Nav.astro";
import Footer from "./Footer.astro";
import Hero from "./sections/Hero.astro";
import About from "./sections/About.astro";
import Skills from "./sections/Skills.astro";
import Projects from "./sections/Projects.astro";
import Contact from "./sections/Contact.astro";
---

<Nav />
<main>
  <Hero />
  <About />
  <Skills />
  <Projects />
  <Contact />
</main>
<Footer />
