---
import BuildWith from "../components/BuildWith/BuildWith.astro";
import "./Layout.css";
---

<footer class="footer">
  <h2 class="main__headlines-small">Build with</h2>
  <BuildWith />
</footer>

<style>
  .footer {
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
    overflow-x: hidden;
    width: 100%;
  }
  .footer {
    align-self: flex-start;
  }
</style>
