@font-face {
  font-family: "Inter";
  src: url("./font/Inter.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --accent: 255, 105, 105;
  --accent-light: 225, 255, 150;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}
html {
  font-family: "Inter", system-ui, sans-serif;
  background: #13151a;
  background-size: 224px;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
body {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem;
  color: white;
  width: 100dvw;
}
::selection {
  color: white;
  background: rgb(151, 61, 61);
}
a {
  all: unset;
  cursor: pointer;
}
a::hover {
  color: var(--accent);
}
.main__headlines-small {
  font-size: 1.5rem;
  align-self: flex-start;
  justify-self: flex-start;
  margin: 0.5rem 1rem;
}
@media (min-width: 725px) {
  body {
    margin: 5% auto 0 auto;
    padding: 0 5rem;
    overflow-x: hidden;
  }
}
@media (min-width: 865px) {
  body {
    padding: 0 2.5rem;
  }
}
@media (min-width: 1000px) {
  body {
    margin-top: 2%;
    padding: 0 clamp(2.5rem, 25%, 5rem);
  }
}
