---
import Motion from "../Motion/Motion";
---

<Motion client:load>
  <p class="aboutme">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quo tenetur
    quae excepturi. Incidunt deleniti sint esse animi magni minus, obcaecati
    odit ut fugit fuga qui quia accusamus totam molestias.
  </p>
</Motion>

<style>
  .aboutme {
    padding: 0 1rem;
  }
</style>
