---
import Motion from "../Motion/Motion";
---

<Motion client:load>
  <p class="aboutme">
    <span class="aboutme-colored">Hello!</span> I'm Willy, a passionate software
    developer and full-stack enthusiast based in Germany. <br />With a strong
    foundation in web development and a particular focus on React, I'm on an
    exciting journey to expand my skills and make a meaningful impact in the
    world of technology.
  </p>
</Motion>
<Motion client:load>
  <p class="aboutme">
    <span class="aboutme-colored">Besides</span> coding, I'm into web
    development trends, open-source contributions, and collaborating with fellow
    developers. <br /> My tech journey began in the early days of web browsing,
    and it still drives my passion as a software developer.
  </p>
</Motion>

<Motion client:load>
  <p class="aboutme">
    If you are looking for a dedicated and creative software developer to join
    your team or collaborate on exciting projects, please don't hesitate to get
    in touch.<br />
     Thanks for visiting my portfolio, and I'm eager to connect with you!
  </p>
</Motion>

<style>
  .aboutme {
    padding: 0 1rem;
    margin-bottom: 1rem;
    font-size: 1.15rem;
  }
  .aboutme-colored {
    color: rgb(var(--accent-light));
  }
</style>
